*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(0,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), 
    url(https://images.pexels.com/photos/1732414/pexels-photo-1732414.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-size: cover;
    background-position: center;
}

.logo{
    width: 100px;
    cursor: pointer;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 20px 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background-color: #059600;
    position: absolute;
    left:0;
    bottom: -5px;
    transition: 0.3s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
.content h1{
    font-size: 50px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #059600;
    background: transparent;
    color: #fff;
     cursor: pointer;
     position: relative;
     overflow: hidden;
}
span{
    background-color: #059600;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.3s;

}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}